<!-- Main --> 
			<div id="main">

				<!-- Header -->
					<header id="header"   style="background-image: url(<%= asset_path('fondo/fondovw.jpg') %>); background-size: cover; background-position: center;">
						
							<div class="logo-container">
								<%= image_tag("logos/logovw.png", class: "logo") %>
							</div>
						 <li><%= link_to 'Acerca de', about_path, style: 'color: black;' %></li>

					</header>

				<!-- Thumbnail -->
					
					<section id="thumbnails" style="background-image: url(<%= asset_path('fondo/fondovw.jpg') %>); background-size: cover; background-position: center;">

						<article>
							<%= link_to(image_tag("fulls/1.jpg"), asset_path("fulls/1.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>Los VW Escarabajos y su historia</h2>
							<p>Descubre la fascinante historia detrás de los emblemáticos VW Escarabajos y su impacto en la cultura automotriz.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/2.jpg"), asset_path("fulls/2.jpg"), class: "thumbnail", data: { position: "top center" }) %>		
							<h2>El diseño icónico del VW Escarabajo</h2>
							<p>Explora el distintivo diseño del VW Escarabajo y cómo su forma aerodinámica lo convirtió en un ícono del automovilismo.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/3.jpg"), asset_path("fulls/3.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El récord de producción del VW Escarabajo</h2>
							<p>Descubre cómo el VW Escarabajo estableció un impresionante récord de producción y se convirtió en uno de los autos más populares de todos los tiempos.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/4.jpg"), asset_path("fulls/4.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El VW Escarabajo en la cultura pop</h2>
							<p>Explora cómo el VW Escarabajo ha dejado su huella en la cultura popular, desde películas hasta música y más.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/5.jpg"), asset_path("fulls/5.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El VW Escarabajo como símbolo de libertad</h2>
							<p>Descubre cómo el VW Escarabajo se convirtió en un símbolo de libertad y aventura, representando un estilo de vida único.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/6.jpg"), asset_path("fulls/6.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El legado duradero del VW Escarabajo</h2>
							<p>Explora cómo el legado del VW Escarabajo sigue vivo en la actualidad y cómo continúa siendo admirado por entusiastas de todo el mundo.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/7.jpg"), asset_path("fulls/7.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El VW Escarabajo como vehículo de colección</h2>
							<p>Descubre cómo el VW Escarabajo se ha convertido en un preciado vehículo de colección y una inversión para los amantes de los autos clásicos.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/8.jpg"), asset_path("fulls/8.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El impacto del VW Escarabajo en la industria automotriz</h2>
							<p>Explora el impacto significativo que tuvo el VW Escarabajo en la industria automotriz y su influencia en el desarrollo de otros modelos.</p>
						</article>

						<article>
							<%= link_to(image_tag("fulls/9.jpg"), asset_path("fulls/9.jpg"), class: "thumbnail", data: { position: "top center" }) %>
							<h2>El VW Escarabajo en el mundo de las carreras</h2>
							<p>Descubre la participación del VW Escarabajo en el emocionante mundo de las carreras y su éxito en competencias automovilísticas.</p>
						</article>

						<article>
						<%= link_to(image_tag("fulls/10.jpg"), asset_path("fulls/10.jpg"), class: "thumbnail", data: { position: "top center" }) %>
						<h2>Curiosidad sobre los Volkswagen Escarabajo</h2>
						<p>El Volkswagen Escarabajo, también conocido como Beetle, fue producido en Alemania desde 1938 hasta 2003. Es uno de los automóviles más vendidos en la historia, con más de 21 millones de unidades fabricadas.</p>
						</article>

						
						</section>


				<!-- Footer -->
					
					<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						
						</ul>
					
					<footer id="footer" style="background-image: url(<%= asset_path('fondo/fondovw.jpg') %>); background-size: cover; background-position: center;">
						<ul class="copyright">
							<li>&copy; </li><li>Idea y diseño Reyes Moreno</a>.</li>
						</ul>

						
					</footer>

			</div>