<!DOCTYPE html>
<html>
  <head>
    <title>GaleriaImagenesInteractivas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

   <script src="https://kit.fontawesome.com/78ae44b048.js" crossorigin="anonymous"></script>
  </head>

  <body>

  
    <%= yield %>

    

    <%# Scripts JS %>
    <%= javascript_include_tag "breakpoints.min", "browser.min", "jquery.min", "main", "data-turbo-track": "reload" %>
  </body>
</html>
